@import url('https://rsms.me/inter/inter-ui.css');

.App {
  text-align: center;
  font-family: 'Inter UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.startModal {
  position: absolute;
  top: 50%;
  left: 40px;
  right: 40px;
  transform: translateY(-50%);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 10px;
  outline: none;
  display: flex;
  flex-direction: column;
}
.startModal .modal-header {
  background-color: #24293c;
  color: white;
  padding: 10px 20px;
}
.startModal .modal-content {
  padding: 10px 30px;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}
.startModal .modal-footer {
  height: 50px;
  background-color: #12d672;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.startModal .modal-footer p {
  color: white;
}

@media only screen and (min-width: 420px) {
  .App {
    display: none;
  }
}
